<h2>Lasso Regression<h2>

#importing Libraries

In [1]:
import numpy as np
import pandas as pd #dataframe
import matplotlib.pyplot as plt #visulisation
from sklearn.model_selection import train_test_split , cross_val_score  , RepeatedKFold#for k-fold iteration 
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV
from sklearn.metrics import mean_squared_error, r2_score #stastical outcome

In [2]:
df = pd.read_csv("Hitters.csv")

In [3]:
df.head()

,Unnamed: 0,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,-Andy Allanson,293,66,1,30,29,14,1,293,66,...,30,29,14,A,E,446,33,20,NaN,A
1,-Alan Ashby,315,81,7,24,38,39,14,3449,835,...,321,414,375,N,W,632,43,10,475.0,N
2,-Alvin Davis,479,130,18,66,72,76,3,1624,457,...,224,266,263,A,W,880,82,14,480.0,A
3,-Andre Dawson,496,141,20,65,78,37,11,5628,1575,...,828,838,354,N,E,200,11,3,500.0,N
4,-Andres Galarraga,321,87,10,39,42,30,2,396,101,...,48,46,33,N,E,805,40,4,91.5,N

In [4]:
df.tail()

,Unnamed: 0,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
317,-Willie McGee,497,127,7,65,48,37,5,2703,806,...,379,311,138,N,E,325,9,3,700.0,N
318,-Willie Randolph,492,136,5,76,50,94,12,5511,1511,...,897,451,875,A,E,313,381,20,875.0,A
319,-Wayne Tolleson,475,126,3,61,43,52,6,1700,433,...,217,93,146,A,W,37,113,7,385.0,A
320,-Willie Upshaw,573,144,9,85,60,78,8,3198,857,...,470,420,332,A,E,1314,131,12,960.0,A
321,-Willie Wilson,631,170,9,77,44,31,11,4908,1457,...,775,357,249,A,W,408,4,3,1000.0,A

In [5]:
df.columns

Index(['Unnamed: 0', 'AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years',
       'CAtBat', 'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'League',
       'Division', 'PutOuts', 'Assists', 'Errors', 'Salary', 'NewLeague'],
      dtype='object')

In [6]:
df.describe()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary
count,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.00000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,263.000000
mean,380.928571,101.024845,10.770186,50.909938,48.027950,38.742236,7.444099,2648.68323,717.571429,69.490683,358.795031,330.118012,260.239130,288.937888,106.913043,8.040373,535.925882
std,153.404981,46.454741,8.709037,26.024095,26.166895,21.639327,4.926087,2324.20587,654.472627,86.266061,334.105886,333.219617,267.058085,280.704614,136.854876,6.368359,451.118681
min,16.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,19.00000,4.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.500000
25%,255.250000,64.000000,4.000000,30.250000,28.000000,22.000000,4.000000,816.75000,209.000000,14.000000,100.250000,88.750000,67.250000,109.250000,7.000000,3.000000,190.000000
50%,379.500000,96.000000,8.000000,48.000000,44.000000,35.000000,6.000000,1928.00000,508.000000,37.500000,247.000000,220.500000,170.500000,212.000000,39.500000,6.000000,425.000000
75%,512.000000,137.000000,16.000000,69.000000,64.750000,53.000000,11.000000,3924.25000,1059.250000,90.000000,526.250000,426.250000,339.250000,325.000000,166.000000,11.000000,750.000000
max,687.000000,238.000000,40.000000,130.000000,121.000000,105.000000,24.000000,14053.00000,4256.000000,548.000000,2165.000000,1659.000000,1566.000000,1378.000000,492.000000,32.000000,2460.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  322 non-null    object
 1   AtBat       322 non-null    int64
 2   Hits        322 non-null    int64
 3   HmRun       322 non-null    int64
 4   Runs        322 non-null    int64
 5   RBI         322 non-null    int64
 6   Walks       322 non-null    int64
 7   Years       322 non-null    int64
 8   CAtBat      322 non-null    int64
 9   CHits       322 non-null    int64
 10  CHmRun      322 non-null    int64
 11  CRuns       322 non-null    int64
 12  CRBI        322 non-null    int64
 13  CWalks      322 non-null    int64
 14  League      322 non-null    object
 15  Division    322 non-null    object
 16  PutOuts     322 non-null    int64
 17  Assists     322 non-null    int64
 18  Errors      322 non-null    int64
 19  Salary      263 non-null    float64
 20  NewLeague   322 non-null    object
dtypes: float64(1), int64(16), object(4)
memory usage: 53.0+ KB

In [8]:
# filling the null values with the median values skipping the null values from median

df['Salary'].fillna(df['Salary'].median(skipna=True), inplace=True)
df.isna().sum()   # to see is there any null or missing values

Unnamed: 0    0
AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary        0
NewLeague     0
dtype: int64

In [9]:
dms = pd.get_dummies(df[['League', 'Division', 'NewLeague']], drop_first=True)
y = df['Salary']
x_ = df.drop(['Unnamed: 0', 'Salary', 'League', 'Division', 'NewLeague'], axis =1).astype('float64')
X = pd.concat([x_, dms[['League_N', 'Division_W', 'NewLeague_N']]], axis =1)

In [10]:
X_train  , X_test , y_train,y_test = train_test_split(X,y ,test_size=0.25 , random_state=42)

<h4> Create a Lasso Model<h4>

In [11]:
lasso_model = Lasso(alpha=0.1, max_iter=10000).fit(X_train, y_train)
lasso_model.intercept_

344.3091846729624

In [12]:
lasso_model.coef_

array([-1.98439668e+00,  5.56849914e+00,  5.00701289e+00,  1.74309707e-02,
       -9.09231728e-01,  4.92197476e+00, -1.04678426e+01, -2.12559027e-01,
        5.92112606e-01, -3.33567774e-02,  8.81493466e-01,  7.97201288e-01,
       -8.20349678e-01,  1.83389792e-01,  4.01248147e-01, -4.23236791e+00,
        4.72290199e+01, -1.14971233e+02, -1.94095641e+01])

In [13]:
y_pred=lasso_model.predict(X_test)

In [14]:
np.sqrt(mean_squared_error(y_test , y_pred))

345.53145419121813

In [15]:
#RMSE is 345.61

In [16]:
r2_score(y_test , y_pred)

0.3660728265476798

In [17]:
# ideally r2 score should be between 0.5 to 1 so we need to change the maso in the algorithm

In [18]:
# we are going to do hyperparameter tuning here checking if the algorithm is useful for this data or not

In [19]:
from sklearn.model_selection import GridSearchCV
cv =RepeatedKFold(n_splits=10 , n_repeats =3 ,random_state=1)#created variable called cv here and defined the how iterations to do
grid = dict()
grid['alpha']=np.arange(0,100,0.1)#arranging the alpha value from the given iterations between ranges to the best fit in the dict
model=Lasso()
search = GridSearchCV(model,grid , scoring='neg_mean_absolute_error' ,cv=cv,n_jobs=-1)

In [20]:
results = search.fit(X_train, y_train)
print('MAE: %.3f' % results.best_score_)
print('Config: %s' % results.best_params_)

MAE: -236.668
Config: {'alpha': 99.9}

In [24]:
Lasso_model = Lasso(alpha=99.9).fit(X_train,y_train)
y_pred= Lasso_model.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))

351.42272118115926

In [25]:
r2_score(y_test , y_pred)

0.34427179105472094

In [23]:
#So the conclusion here is this is not good Machine Learning algorithm for this data